{% extends 'base.html' %}

{% block content %}
<html>
<section class="content" style="margin: 100px 0px 50px 0px; text-align: center;">

                    <div class="banner">
                        <div class="container container-sm">
                            <ul>
                                <li><a href="/arboris">Arboris</a></li>
                            </ul>
</div>
                    </div>

                            <h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
</section>
</html>
{% endblock %}