/************************************************/
/*************** Open Sans Family ***************/
/************************************************/

/********** OpenSans Light **********/
@font-face {
    font-family: "OpenSans";
    src: url("http://127.0.0.1:8000/arboris/static/opensans-light.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSans-Light.woff") format("woff");
	font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/********** OpenSans Light Italic **********/
@font-face {
    font-family: "OpenSans";
    src: url("http://127.0.0.1:8000/arboris/static/OpenSans-LightItalic.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSans-LightItalic.woff") format("woff");
	font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/********** OpenSans Regular **********/
@font-face {
    font-family: "OpenSans";
    src: url("http://127.0.0.1:8000/arboris/static/opensans-regular.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSans-Regular.woff") format("woff");
	font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/********** OpenSans Regular Italic **********/
@font-face {
    font-family: "OpenSans";
    src: url("http://127.0.0.1:8000/arboris/static/opensans-light.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSans-Italic.woff") format("woff");
	font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/********** OpenSans Semi Bold **********/
@font-face {
    font-family: "OpenSans";
    src: url("http://127.0.0.1:8000/arboris/static/OpenSans-SemiBold.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSans-SemiBold.woff") format("woff");
	font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/********** OpenSans Semi Bold Italic **********/
@font-face {
    font-family: "OpenSans";
    src: url("http://127.0.0.1:8000/arboris/static/OpenSans-SemiBoldItalic.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSans-SemiBoldItalic.woff") format("woff");
	font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/********** OpenSans Bold **********/
@font-face {
    font-family: "OpenSans";
    src: url("http://127.0.0.1:8000/arboris/static/OpenSans-Bold.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSans-Bold.woff") format("woff");
	font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/********** OpenSans Bold Italic **********/
@font-face {
    font-family: "OpenSans";
    src: url("http://127.0.0.1:8000/arboris/static/OpenSans-BoldItalic.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSans-BoldItalic.woff") format("woff");
	font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/********** OpenSans Extra Bold **********/
@font-face {
    font-family: "OpenSans";
    src: url("http://127.0.0.1:8000/arboris/static/OpenSans-ExtraBold.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSans-ExtraBold.woff") format("woff");
	font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/********** OpenSans Extra Bold Italic **********/
@font-face {
    font-family: "OpenSans";
    src: url("http://127.0.0.1:8000/arboris/static/OpenSans-ExtraBoldItalic.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSans-ExtraBoldItalic.woff") format("woff");
	font-weight: 900;
    font-style: italic;
    font-display: swap;
}


/**********************************************************/
/*************** Open Sans Condensed Family ***************/
/**********************************************************/

/********** OpenSans Light **********/
@font-face {
    font-family: "OpenSansCondensed";
    src: url("http://127.0.0.1:8000/arboris/static/opensanscondensed-light.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSansCondensed-Light.woff") format("woff");
	font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/********** OpenSans Light Italic **********/
@font-face {
    font-family: "OpenSansCondensed";
    src: url("http://127.0.0.1:8000/arboris/static/OpenSansCondensed-LightItalic.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSansCondensed-LightItalic.woff") format("woff");
	font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/********** OpenSans Bold **********/
@font-face {
    font-family: "OpenSansCondensed";
    src: url("http://127.0.0.1:8000/arboris/static/opensanscondensed-bold.woff2") format("woff2"),
		url("http://127.0.0.1:8000/arboris/static/OpenSansCondensed-Bold.woff") format("woff");
	font-weight: bold;
    font-style: normal;
    font-display: swap;
}