<!DOCTYPE HTML>
<html lang="en">
{% extends 'base.html' %}

{% block content %}



<section class="content">
    <div class="banner">
    <div class="container container-sm">
<h1 style="position:relative; top:40px">Contacts</h1>
    </div>
    </div>

    <div class="container container-sm">
    <div style="position:relative; top:80px; height: 450px">

            <p>
                <strong>ARBORIS - Top Management Tailor-made Advisory </strong>
                <br>
                Rua Nova do Almada nº 59, 2º<br>1200-288 Lisboa
                    <br><a href="https://www.google.com/maps/place/38.710066662856384,-9.139380739547583" target="_blank" rel="noopener"><strong>Location on the map</strong></a>

            </p>
            <div><strong> Contact Numbers</strong>
            <p>
                (+351) 964 245 685<br>(+351) 917 199 472<br>(+351) 927 349 139
            </p>
            </div>
        <div> <strong>Email</strong>
            <p><a href="mailto:executive@arboris.pt">executive@arboris.pt</a></p>
            </div>
    </div>
</section>


{% endblock %}
</html>