{% extends 'base.html' %}

{% block content %}

<html lang="en">

<body>
<section class="content blog">

                    <div class="banner nobanner">


                        <div class="container container-sm">
                            <ul>
                                <li><a href="/arboris">Arboris</a></li>
                            </ul>

                            <h1>News</h1>
                        </div>
                    </div>

                    <div class="container">


    <div class="listing listing-blog">
        <div>

				<div >
					<a href="/noticias/imprensa/o-erro-de-atacar-esta-crise-como-se-atacaram-as-outras" class="blog-thumb">
						<img src="/uploads/subcanais2/o-erro-de-atacar-esta-crise.jpg" alt="O erro de atacar esta crise como se atacaram as outras " class="img-fluid">
					</a>
					<div class="details">
						<div class="date-category">28.04.2022 <a href="/noticias/imprensa">Imprensa</a></div>
						<h2 class="title"><a href="/noticias/imprensa/o-erro-de-atacar-esta-crise-como-se-atacaram-as-outras">O erro de atacar esta crise como se atacaram as outras </a></h2>
						<p>H&aacute; tr&ecirc;s meses os efeitos de anos da pandemia ainda se faziam sentir nas empresas. Apesar de muitas terem registado um primeiro trimestre animador, as disrup&ccedil;&otilde;es e aumentos de custo da log&iacute;stica &agrave; escala mundial continuaram a danificar margens.</p>


						<a href="/" class="button-link"><span>Read more</span></a>
					</div>
				</div>
        </div>

    </div>
</div>
            </section>

</body>
</html>
{% endblock %}