{% extends 'base.html' %}

{% block content %}

<html lang="en">

<body>
<section class="content">

                    <div class="banner">


                        <div class="container container-sm" style="margin: 50px 0px 0px 300px;">
                            <ul>
                                <li><a href="/arboris">Arboris</a></li>
                            </ul>

                            <h1>Our Managing Partners</h1>
                        </div>
                    </div>


            <div class="template-module">
                <div class="container container-sm">
                    <p>

                    </p>
                    <h2>Professional Seniors with extensive functional and industrial experience.</h2>
                    <p>

                    </p>
                </div>
            </div>

            <div class="template-module module3 wrap">
                <div class="container container-sm">
                    <img data-src="http://127.0.0.1:8000/arboris/static/uploads/hp-banner/joao-rodrigues-pena.jpg" src="http://127.0.0.1:8000/arboris/static/uploads/hp-banner/joao-rodrigues-pena.jpg" class="img-fluid" alt="José Rodrigues Pena"title="José Rodrigues Pena" />

                    <h3>Jo&atilde;o Rodrigues Pena</h3><p><em><small>Founder &amp; Managing Partner</small></em></p><p>He has an extensive career in Senior Management Consulting as a Senior Partner in prestigious international consultant businesses, having in particular led the Spanish and Portuguese offices of AT Kearney in a strong growth process. He specializes in strategic, organizational and governance development programs with a high degree of demand for large and medium-sized companies and government institutions, with particular emphasis on family-based Iberian Groups.</p>
                </div>
            </div>

            <div class="template-module module2 wrap">
                <div class="container container-sm">
                    <img data-src="http://127.0.0.1:8000/arboris/static/uploads/hp-banner/jose-paulo-rodrigues.jpg" src="http://127.0.0.1:8000/arboris/static/uploads/hp-banner/jose-paulo-rodrigues.jpg" class="img-fluid" alt="José Paulo Rodrigues"title="José Paulo Rodrigues" />

                    <h3>Jos&eacute; Paulo Rodrigues</h3><p><em><small>Managing Partner</small></em></p><p>He has a long experience in business administration, especially in Services, in national and international groups. A large part of its challenges and achieved objectives were centered on company revitalization processes. He knows a lot about the most significant business sectors in the market, and he has worked in contexts involving highly complex organizational change processes.</p>
                </div>
            </div>

                        </div>

            </section>

</body>
</html>
{% endblock %}