{% extends 'base.html' %}

{% block content %}

<html lang="en">

<body>
<section class="content">

                    <div class="banner">


                        <div class="container container-sm" style="margin: 50px 0px 0px 300px;">
                            <ul>
                                <li><a href="/arboris">Arboris</a></li>
                            </ul>

                            <h1>Our Managing Partners</h1>
                        </div>
                    </div>


            <div class="template-module">
                <div class="container container-sm">
                    <p>

                    </p>
                    <h2>Profissionais s&eacute;niores com vasta experi&ecirc;ncia funcional e setorial.</h2>
                    <p>

                    </p>
                </div>
            </div>

            <div class="template-module module3 wrap">
                <div class="container container-sm">
                    <img data-src="http://127.0.0.1:8000/arboris/static/uploads/hp-banner/joao-rodrigues-pena.jpg" src="http://127.0.0.1:8000/arboris/static/uploads/hp-banner/joao-rodrigues-pena.jpg" class="img-fluid" alt="José Rodrigues Pena"title="José Rodrigues Pena" />

                    <h3>Jo&atilde;o Rodrigues Pena</h3><p><em><small>Founder &amp; Managing Partner</small></em></p><p>Tem uma extensa carreira em Consultoria de Alta Dire&ccedil;&atilde;o como Senior Partner em prestigiadas consultoras internacionais, tendo liderado em particular os escrit&oacute;rios de Espanha e Portugal da AT Kearney num forte processo de crescimento. Especializou-se em programas de desenvolvimento estrat&eacute;gico, organizacional e de governance de elevado grau de exig&ecirc;ncia para grandes e m&eacute;dias empresas e institui&ccedil;&otilde;es governamentais, com particular relevo para Grupos Ib&eacute;ricos de raiz familiar.</p>
                </div>
            </div>

            <div class="template-module module2 wrap">
                <div class="container container-sm">
                    <img data-src="http://127.0.0.1:8000/arboris/static/uploads/hp-banner/jose-paulo-rodrigues.jpg" src="http://127.0.0.1:8000/arboris/static/uploads/hp-banner/jose-paulo-rodrigues.jpg" class="img-fluid" alt="José Paulo Rodrigues"title="José Paulo Rodrigues" />

                    <h3>Jos&eacute; Paulo Rodrigues</h3><p><em><small>Managing Partner</small></em></p><p>Tem uma longa experi&ecirc;ncia em administra&ccedil;&atilde;o de empresas, essencialmente &nbsp;na &aacute;rea de Servi&ccedil;os, em grupos nacionais e internacionais. Grande parte dos seus desafios e objetivos alcan&ccedil;ados, centraram-se em processos de revitaliza&ccedil;&atilde;o de empresas. Profundo conhecedor dos setores de neg&oacute;cio mais significativos do mercado, tem atuado, essencialmente, em contextos &nbsp;que envolvem processos de mudan&ccedil;a organizacionais de elevada complexidade.</p>
                </div>
            </div>

                        </div>

            </section>

</body>
</html>
{% endblock %}