{% extends 'base.html' %}

{% block content %}
<html lang="en">

<body>
<section class="content">
                    <div class="banner">

                            <img style="margin: -40% 0px 0px 0px;" data-src= "{{ image }}" src= "{{ image }}"/>


                        <div class="container container-sm">
                            <ul>
                                <li><a href="/arboris">Arboris</a></li>
                            </ul>

                            <h1>{{ title }}</h1>
                        </div>
                    </div>
<div class="template">

            <div class="template-module">
                <div class="container container-sm">
                <p>{{ paragraph1 }}</p>
                    <p>{{ paragraph2 }}</p>
                </div>
            </div>
</div>
    </section>
</body>
</html>
{% endblock %}