<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arboris</title>
</head>

<header class="transparent">
    <span class="bg" style="opacity: 0;"></span>
    <a href="/arboris" class="logo" style="background-color:#000000">
        <img src="https://www.arboris.pt/img/logo.png" alt="Logo ARBORIS" title="Logo ARBORIS" class="img-fluid">
    </a>
    <div>
        <a class="menu-toggle" role="button" aria-label="Open lateral menu">
            <span></span>
            <span></span>
        </a>


            <div class="social">

                    <a href="https://www.linkedin.com" target="_blank" rel="noopener" class="fab fa-linkedin-in"></a>

            </div>

            <ul class="menu">

                    <li>
                        <a href="/our-purpose">Our Purpose</a>

                    </li>

                    <li>
                        <a href="/our-motivation">Our Motivation</a>

                    </li>

                    <li>
                        <a href="/what-makes-us-unique">What Makes Us Unique</a>

                    </li>

                    <li>
                        <a href="/what-we-do">What We Do</a>

                    </li>

                    <li class="sub">
                        <a href="/partners">Our Managing Partners</a>

                    </li>

                    <li>
                        <a href="/contact">Contacts</a>

                    </li>

                    <li class="sub">
                        <a href="/news">News</a>

                    </li>

            </ul>

    </div>
</header>

<body>

<h2 style="color:#ffffff"><center>
        {{ header.titles }}
</center>

</h2>
  {% block content %}

  {% endblock %}


<div class="container container-sm" style="background-color:#404040"><center>
        <div class="upper"><FONT COLOR="white">
            <p>2022 © Arboris</p>

            <p>Contacte-nos</p>
            </FONT>
        </div>

        <div class="lower">

            <div>
                <font color="white">
                    <span>(+351) 96 424 56 85 / (+351) 91 719 94 72 / (+351) 92 734 91 39</span>
                    <span><a href="mailto:executive@arboris.pt">executive@arboris.pt</a></span>
                </font>
                </center>
            </div>
        </div>
    </div>
</body>
</html>


