{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/fontawesome.min.css">
    <link rel="stylesheet" href="static/slick.css">
    <link rel="stylesheet" href="static/slick-theme.css">
    <link rel="stylesheet" href="static/fonts.css">
    <link rel="stylesheet" href="static/variables.css">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/listings.css">
    <link rel="stylesheet" href="static/hp.css">
    <title>Arboris</title>
</head>

<header class="transparent" style="background-color:black">
    <span class="bg" style="opacity: 0;"></span>
    <a href="/arboris" class="logo">
        <img src="https://www.arboris.pt/img/logo.png" alt="Logo ARBORIS" title="Logo ARBORIS" class="img-fluid">
    </a>
    <div>
        <a class="menu-toggle" role="button" aria-label="Open lateral menu">
        </a>


            <div class="social">

                    <a href="https://www.linkedin.com" target="_blank" rel="noopener" class="linkedin"></a>

            </div>

            <ul class="menu">

                    <li>
                        <a href="/our-purpose">Our Purpose</a>

                    </li>

                    <li>
                        <a href="/our-motivation">Our Motivation</a>

                    </li>

                    <li>
                        <a href="/what-makes-us-unique">What Makes Us Unique</a>

                    </li>

                    <li>
                        <a href="/what-we-do">What We Do</a>

                    </li>

                    <li>
                        <a href="/partners">Our Managing Partners</a>

                    </li>

                    <li>
                        <a href="/contact">Contacts</a>

                    </li>

                    <li class="sub">
                        <a href="/news">News</a>

                    </li>

            </ul>

    </div>
</header>
<section class="hp-banners">
        <div class="slider slick-initialized slick-slider">
            <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" aria-label="slider" style="opacity: 1; width: 3915px; transform: translate3d(-783px, 0px, 0px);"><a class="slide slick-slide slick-cloned" href="/partners" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 783px;">
                    <div class="image">
                        <img src="https://www.arboris.pt/uploads/hp-banners/arboris-5.jpg">
                    </div>

                    <div class="container">
                        <div class="description">
                            <h2>Independência, frontalidade, discrição e profundo sentido de compromisso com o Presidente e os Acionistas</h2>
                            <p>Fundámos a ARBORIS para oferecer a conjugação das competências complementares de cada um dos Sócios e poder assessorar o Presidente e os Acionistas em desafios complexos e delicados onde a experiência, a senioridade, a sensibilidade e a postura ética sejam os fatores decisivos para enfrentar esses desafios com êxito. </p>
                        </div>
                    </div>
                </a><a class="slide slick-slide slick-current slick-active" href="/our-motivation" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 783px;">
                    <div class="image">
                        <img src="https://www.arboris.pt/uploads/hp-banners/arboris-1.jpg">
                    </div>

                    <div class="container">
                        <div class="description">
                            <h2>Ao lado do Presidente e dos Acionistas para os temas mais sensíveis e complexos</h2>
                            <p>Estabelecemos relações de grande abertura e confiança para resolver desafios críticos de Governance do corpo Acionista e Societário, Alinhamento Estratégico do Negócio com os Objetivos dos Acionistas e Programas de Desenvolvimento e Transformação Organizacional </p>
                        </div>
                    </div>
                </a><a class="slide slick-slide" href="/our-purpose" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 783px;">
                    <div class="image">
                        <img src="https://www.arboris.pt/uploads/hp-banners/arboris-4.jpg">
                    </div>

                    <div class="container">
                        <div class="description">
                            <h2>Reforçando os valores e o legado das melhores empresas de raiz familiar</h2>
                            <p>Escolhemos a marca ARBORIS, "da árvore" em latim, como símbolo de força, resiliência, tradição e ambição de longo prazo, assente em princípios sólidos de humanismo e ética</p>
                        </div>
                    </div>
                </a><a class="slide slick-slide" href="/partners" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 783px;">
                    <div class="image">
                        <img src="https://www.arboris.pt/uploads/hp-banners/arboris-5.jpg">
                    </div>

                    <div class="container">
                        <div class="description">
                            <h2>Independência, frontalidade, discrição e profundo sentido de compromisso com o Presidente e os Acionistas</h2>
                            <p>Fundámos a ARBORIS para oferecer a conjugação das competências complementares de cada um dos Sócios e poder assessorar o Presidente e os Acionistas em desafios complexos e delicados onde a experiência, a senioridade, a sensibilidade e a postura ética sejam os fatores decisivos para enfrentar esses desafios com êxito. </p>
                        </div>
                    </div>
                </a><a class="slide slick-slide slick-cloned" href="/our-motivation" data-slick-index="3" id="" aria-hidden="true" tabindex="-1" style="width: 783px;">
                    <div class="image">
                        <img src="https://www.arboris.pt/uploads/hp-banners/arboris-1.jpg">
                    </div>

                    <div class="container">
                        <div class="description">
                            <h2>Ao lado do Presidente e dos Acionistas para os temas mais sensíveis e complexos</h2>
                            <p>Estabelecemos relações de grande abertura e confiança para resolver desafios críticos de Governance do corpo Acionista e Societário, Alinhamento Estratégico do Negócio com os Objetivos dos Acionistas e Programas de Desenvolvimento e Transformação Organizacional </p>
                        </div>
                    </div>
                </a></div></div>
        </div>


            <div class="slider-arrows">
                <div class="prev slick-arrow" style=""></div>
                <div class="next slick-arrow" style=""></div>
            </div>

    </section>

<body>

  {% block content %}

  {% endblock %}


<div class="container container-sm">
        <div class="upper">
            <p>2022 © Arboris</p>

            <p>Contact us</p>
        </div>

        <div class="lower">
            <div>

                    <span>(+351) 96 424 56 85 / (+351) 91 719 94 72 / (+351) 92 734 91 39</span>
                    <span><a href="mailto:executive@arboris.pt">executive@arboris.pt</a></span>

            </div>
        </div>
    </div>
</body>
</html>


