<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="templates/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="templates/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="templates/slick.css">
    <link rel="stylesheet" type="text/css" href="templates/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="templates/fonts.css">
    <link rel="stylesheet" type="text/css" href="templates/variables.css">
    <link rel="stylesheet" type="text/css" href="templates/styles.css">
    <link rel="stylesheet" type="text/css" href="templates/listings.css">
    <link rel="stylesheet" type="text/css" href="templates/hp.css">
    <title>Arboris</title>
</head>

<header class="transparent">
    <span class="bg" style="opacity: 0;"></span>
    <a href="/arboris" class="logo">
        <img src="https://www.arboris.pt/img/logo.png" alt="Logo ARBORIS" title="Logo ARBORIS" class="img">
    </a>
    <div>
        <a class="menu-toggle" role="button" aria-label="Open lateral menu">
        </a>


            <div class="social">

                    <a href="https://www.linkedin.com" target="_blank" rel="noopener" class="linkedin"></a>

            </div>

            <ul class="menu">

                    <li>
                        <a href="/our-purpose">Our Purpose</a>

                    </li>

                    <li>
                        <a href="/our-motivation">Our Motivation</a>

                    </li>

                    <li>
                        <a href="/what-makes-us-unique">What Makes Us Unique</a>

                    </li>

                    <li>
                        <a href="/what-we-do">What We Do</a>

                    </li>

                    <li>
                        <a href="/partners">Our Managing Partners</a>

                    </li>

                    <li>
                        <a href="/contact">Contacts</a>

                    </li>

                    <li class="sub">
                        <a href="/news">News</a>

                    </li>

            </ul>

    </div>
</header>

<body>

<h2 class="header">
        {{ header.titles }}

</h2>
  {% block content %}

  {% endblock %}


<div class="container container-sm">
        <div class="upper">
            <p>2022 © Arboris</p>

            <p>Contact us</p>
        </div>

        <div class="lower">
            <div>

                    <span>(+351) 96 424 56 85 / (+351) 91 719 94 72 / (+351) 92 734 91 39</span>
                    <span><a href="mailto:executive@arboris.pt">executive@arboris.pt</a></span>

            </div>
        </div>
    </div>
</body>
</html>


