{% extends 'base.html' %}

{% block content %}
<section class="hp-banners">
        <div class="slider">
            <a class="slide" href="/our-motivation" >
                    <div class="image">
                        <img data-src="/uploads/hp-banners/arboris-1.jpg" src="https://www.arboris.pt/uploads/hp-banners/arboris-1_placeholder.jpg"/>
                    </div>

                    <div class="container">
                        <div class="description">
                            <h2>Ao lado do Presidente e dos Acionistas para os temas mais sensíveis e complexos</h2>
                            <p>Estabelecemos relações de grande abertura e confiança para resolver desafios críticos de Governance do corpo Acionista e Societário, Alinhamento Estratégico do Negócio com os Objetivos dos Acionistas e Programas de Desenvolvimento e Transformação Organizacional </p>
                        </div>
                    </div>
                </a><a class="slide" href="/o-nosso-proposito" >
                    <div class="image">
                        <img data-src="/uploads/hp-banners/arboris-4.jpg" src="/uploads/hp-banners/arboris-4_placeholder.jpg"/>
                    </div>

                    <div class="container">
                        <div class="description">
                            <h2>Reforçando os valores e o legado das melhores empresas de raiz familiar</h2>
                            <p>Escolhemos a marca ARBORIS, "da árvore" em latim, como símbolo de força, resiliência, tradição e ambição de longo prazo, assente em princípios sólidos de humanismo e ética</p>
                        </div>
                    </div>
                </a><a class="slide" href="/os-managing-partners" >
                    <div class="image">
                        <img data-src="/uploads/hp-banners/arboris-5.jpg" src="/uploads/hp-banners/arboris-5_placeholder.jpg"/>
                    </div>

                    <div class="container">
                        <div class="description">
                            <h2>Independência, frontalidade, discrição e profundo sentido de compromisso com o Presidente e os Acionistas</h2>
                            <p>Fundámos a ARBORIS para oferecer a conjugação das competências complementares de cada um dos Sócios e poder assessorar o Presidente e os Acionistas em desafios complexos e delicados onde a experiência, a senioridade, a sensibilidade e a postura ética sejam os fatores decisivos para enfrentar esses desafios com êxito. </p>
                        </div>
                    </div>
                </a>
        </div>


            <div class="slider-arrows">
                <div class="prev slick-arrow" style=""></div>
                <div class="next slick-arrow" style=""></div>
            </div>

    </section>

<script src="/assets/slick/slick.min.js" type="text/javascript"></script>
<script src="/assets/css-vars-ponyfill/css-vars-ponyfill.min.js" type="text/javascript"></script>
<script src="/js/app.js"></script>
<script src="/js/hp.js"></script>
{% endblock %}