{% extends 'base.html' %}

{% block content %}

<html lang="en">

<body>
<div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" aria-label="slider" style="opacity: 1; width: 4450px; transform: translate3d(-1780px, 0px, 0px);">
    <a class="slide slick-slide slick-cloned" href="/partners" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 890px;">
    <div class="image">
        <img src="https://www.arboris.pt/uploads/hp-banners/arboris-5.jpg">
    </div>

    <div class="container">
        <div class="description">
            <h2>Independência, frontalidade, discrição e profundo sentido de compromisso com o Presidente e os Acionistas</h2>
            <p>Fundámos a ARBORIS para oferecer a conjugação das competências complementares de cada um dos Sócios e poder assessorar o Presidente e os Acionistas em desafios complexos e delicados onde a experiência, a senioridade, a sensibilidade e a postura ética sejam os fatores decisivos para enfrentar esses desafios com êxito. </p>
        </div>
    </div>
</a><a class="slide slick-slide" href="/our-purpose" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 890px;">
    <div class="image">
        <img src="https://www.arboris.pt/uploads/hp-banners/arboris-1.jpg">
    </div>

    <div class="container">
        <div class="description">
            <h2>Ao lado do Presidente e dos Acionistas para os temas mais sensíveis e complexos</h2>
            <p>Estabelecemos relações de grande abertura e confiança para resolver desafios críticos de Governance do corpo Acionista e Societário, Alinhamento Estratégico do Negócio com os Objetivos dos Acionistas e Programas de Desenvolvimento e Transformação Organizacional </p>
        </div>
    </div>
</a><a class="slide slick-slide slick-current slick-active" href="/our-purpose" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 890px;">
    <div class="image">
        <img src="https://www.arboris.pt/uploads/hp-banners/arboris-4.jpg">
    </div>

    <div class="container">
        <div class="description">
            <h2>Reforçando os valores e o legado das melhores empresas de raiz familiar</h2>
            <p>Escolhemos a marca ARBORIS, "da árvore" em latim, como símbolo de força, resiliência, tradição e ambição de longo prazo, assente em princípios sólidos de humanismo e ética</p>
        </div>
    </div>
</a><a class="slide slick-slide" href="/partners" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 890px;">
    <div class="image">
        <img src="https://www.arboris.pt/uploads/hp-banners/arboris-5.jpg">
    </div>

    <div class="container">
        <div class="description">
            <h2>Independência, frontalidade, discrição e profundo sentido de compromisso com o Presidente e os Acionistas</h2>
            <p>Fundámos a ARBORIS para oferecer a conjugação das competências complementares de cada um dos Sócios e poder assessorar o Presidente e os Acionistas em desafios complexos e delicados onde a experiência, a senioridade, a sensibilidade e a postura ética sejam os fatores decisivos para enfrentar esses desafios com êxito. </p>
        </div>
    </div>
</a><a class="slide slick-slide slick-cloned" href="/our-motivation" data-slick-index="3" id="" aria-hidden="true" tabindex="-1" style="width: 890px;">
    <div class="image">
        <img src="https://www.arboris.pt/uploads/hp-banners/arboris-1.jpg">
    </div>

    <div class="container">
        <div class="description">
            <h2>Ao lado do Presidente e dos Acionistas para os temas mais sensíveis e complexos</h2>
            <p>Estabelecemos relações de grande abertura e confiança para resolver desafios críticos de Governance do corpo Acionista e Societário, Alinhamento Estratégico do Negócio com os Objetivos dos Acionistas e Programas de Desenvolvimento e Transformação Organizacional </p>
        </div>
    </div>
</a></div></div>

</body>


</html>

{% endblock %}